* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;  
}

img {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    z-index: 0;
    border-radius: 35px;
}

.main {
    max-width: 1000px;
}

.header {
    height: 10vh;
    background-color: #15161C;
    color: white;
    border-top-left-radius: 20px; 
    border-top-right-radius: 20px; 
}

input[type="range"]{
    width: 180px;
}

.main-volume {
    cursor: pointer;
}

.logo {
    margin: auto 0;
    font-size: 50px;
    font-family: "Lobster", sans-serif;
    cursor: pointer;
}

.calibri-logo {
    width: 80px;
}

.lang-button {
    position: inherit;
    cursor: pointer;
    width: 60px;
    height: 35px;
}

.main-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 0;
    margin-right: 5px;
    margin-left: 5px;
    font-size: 1.5rem;
}

.about-app-button {
    width: 150px;
    height: 35px;
    border-radius: 2%;
    border: 0;
    margin-right: 5px;
    margin-left: 5px;
    font-size: 14px;
}

.warning {
    position: absolute;
    background-color: white;
    padding: 3px;
    line-height: 14px;
    border-radius: 5px;
    border: 0;
    font-size: 14px;
    margin-top: 60px;
    z-index: 100;
}

.footer {
    height: 10vh;
    background-color: #15161C;
    color: white;
    border-bottom-left-radius: 20px; 
    border-bottom-right-radius: 20px; 
}

.footer > .icons > nav > a > i {
    color: white;
    font-size: 1.6rem;
}

.footer > .icons > nav > a > .fa-instagram:hover {
    color: rgb(233, 58, 58);
    transition: all 1s;
}

.footer > .icons > nav > a > .fa-github:hover {
    color: rgb(0, 0, 0);
    transition: all 1s;
}

.footer > .icons > nav > a > .fa-linkedin-in:hover {
    color: rgb(47, 91, 235);
    transition: all 1s;
}

.height { 
    height: 100vh;
}

.middle {
    height: 75vh;
    background-color: #17181E;
}

.frame-div {
    position: relative;
    width: 165px;
    height: 165px;
    margin: 5px;
    border-radius: 35px;
}

.frame-div:hover {
    box-shadow: 0px 0px 40px 5px rgb(255, 255, 255) !important; 
}

.sound-name {
    position: absolute;
    margin-top: 45%;
    margin-right: 50%;
    transform: translateX(-50%);
    display: inline;
    color: white;
    
    z-index: 2;
    width: 165px;
    font-size: 22px;
}

.frame-name {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 165px;
    height: 165px;
    z-index: 1;
    border-radius: 35px;
}

.frame-name2 {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 165px;
    height: 165px;
    z-index: 3;
    border-radius: 35px;
}

.button-links {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.button-links > a {
    text-align: center;
}
.links {
    margin: 0;
    width: 33%;
    text-decoration: none;
    border-radius: 10px;
}

.link-instagram {
    background-color: #e1306c;
    color: white;
    align-items: center;
}

.link-instagram:hover {
    background-color: #e05382;
    color: white;
}

.link-github {
    background-color: #333;
    color: white;
}

.link-github:hover {
    background-color: rgb(72, 71, 71);
    color: white;
}

.link-linkedin {
    background-color: #46C1F6;
    color: white;
}

.link-linkedin:hover {
    background-color: #65c7f1;
    color: white;
}

.wrapper {
    display: flex;
    justify-content: center;
}

.wrapper .icon {
    margin: 0 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    z-index: 2;
    transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon span {
    position: relative;
    z-index: 2;
    display: block;
    height: 40px;
    width: 40px;
    text-align: center;
    border-radius: 50%;
    background-color: rgb(0, 0, 0);
    box-shadow: 0px 10px 10px rgb(190, 179, 179);
}

.wrapper .icon span {
    font-size: 25px;
    line-height: 40px;
}

.wrapper .icon:hover span {
    color: white;
}

.wrapper .icon .tooltipa {
    position: absolute;
    top: 0px;
    font-size: 15px;
    padding: 10px  14px;
    border-radius: 25px;
    background-color: white;
    color: white;
    box-shadow: 0px 10px 10px rgb(190, 179, 179);
    opacity: 0;
    pointer-events: none;
    transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltipa {
    top: -55px;
    opacity: 1;
    pointer-events: auto;
}


.wrapper .icon .tooltipa::before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    bottom: -6px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
}

.wrapper .icon .square1::before {
    background-color: #e1306c;
}

.wrapper .icon .square2::before {
    background-color: #333;
}

.wrapper .icon .square3::before {
    background-color: #46C1F6;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltipa {
    text-shadow: 0px -1px 0px rgb(0, 0, 0, 0.4);
}

.wrapper .instagram:hover span,
.wrapper .instagram:hover .tooltipa,
.wrapper .instagram:hover .tooltipa::before {
    background: #e1306c;
}

.wrapper .github:hover span,
.wrapper .github:hover .tooltipa,
.wrapper .github:hover .tooltipa::before {
    background: #333;
}

.wrapper .linkedin:hover span,
.wrapper .linkedin:hover .tooltipa,
.wrapper .linkedin:hover .tooltipa::before {
    background: #46C1F6;
}


@media all and (max-width: 992px) {
    .header {
        height: 20vh;
        position: fixed;
        width: 100%;
        top: 0;
        border-radius: 0;
        z-index: 2;
    } 

    input[type="range"]{
        width: 250px;
    }

    .logo {
        font-size: 35px;
        align-items: flex-start;
    }
    
    .calibri-logo {
        width: 60px;
    }

    .lang-button {
        margin: 2px 0;
    }

    .warning {
        margin-top: 47vh;
    }

    .middle {
        z-index: 1;
        height: 100vh;
        margin-top: 60px;
        padding-top: 12vh;
        padding-bottom: 11vh;
     }

     .sound-name {
         z-index: 1;
     }

    .footer {
        z-index: 2;
        height: 10vh;
        position: fixed;
        width: 100%;
        bottom: 0;
        border-radius: 0;
        font-size: 14px;
    }

    .rights , .name {
        font-size: 10px;
    }
    .frame-div {
        height: 250px;
        width: 250px;
        margin: 10px;    
    }

    .frame-name {
        position: absolute;
        bottom: -4%;
        right: -4%;
        height: 250px;
        width: 250px;
        margin: 10px; 
    }
 }